<p id="notice"><%= notice %></p>

<h1>Concessionaria</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>Endereço</th>
      <th>Anos de mercado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concessionaria.each do |concessionarium| %>
      <tr>
        <td><%= concessionarium.nome %></td>
        <td><%= concessionarium.cidade %></td>
        <td><%= concessionarium.endereço %></td>
        <td><%= concessionarium.anos_de_mercado %></td>
        <td><%= link_to 'Detalhes', concessionarium, class:"bt-info bt" %></td>
        <td><%= link_to 'Editar', edit_concessionarium_path(concessionarium), class:"bt-blue bt" %></td>
        <td><%= link_to 'Remover', concessionarium, method: :delete, data: { confirm: 'Are you sure?' }, class: "bt-danger bt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova concessionaria', new_concessionarium_path, class: "bt-green bt" %>
