<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @concessionarium.nome %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @concessionarium.cidade %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @concessionarium.endereço %>
</p>

<p>
  <strong>Anos de mercado:</strong>
  <%= @concessionarium.anos_de_mercado %>
</p>

<%= link_to 'Edit', edit_concessionarium_path(@concessionarium) %> |
<%= link_to 'Back', concessionaria_path %>
